# Database
DB_URL=
DB_USERNAME=
DB_PASSWORD=
DB_PORT=

# OAuth2 (Google)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# JWT
JWT_SECRET=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_EXPIRATION=

# Redis
REDIS_HOST=
REDIS_PORT=