server:
  port: 8081

spring:
  application:
    name: user-service
  profiles:
    include: secret
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true


eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

